# Ignore everything
*

!.gitignore
!.vimrc
!.bashrc
!.bash_aliases
!.profile
!.tmux.conf

# Tmuxinator configs
!.tmuxinator/stat.yml

# Utility scripts
!_scripts/
!_scripts/tech_headlines.py
!_scripts/z/*
