[submodule "_scripts/z"]
	path = _scripts/z
	url = git@github.com:rupa/z.git
[submodule "_scripts/zaw"]
	path = _scripts/zaw
	url = git@github.com:zsh-users/zaw.git
[submodule "_scripts/v"]
	path = _scripts/v
	url = git@github.com:rupa/v.git
