# Ignore everything
*

!.gitignore
!.vimrc
!.bashrc
!.bash_aliases
!.bash_functions
!.profile
!.tmux.conf

# Tmuxinator configs
!.tmuxinator/stat.yml

# Utility scripts
!_scripts/
!_scripts/tech_headlines.py
!_scripts/pretty-print.py
!_scripts/z
!_scripts/zaw/
!_scripts/zaw

# Git config
!.gitconfig

# IRB config
!.irbrc

# Vim bundles file
!.bundles.vim
!.bundles.plug.vim

# ZSH
!.zshrc

# Kitty term
!.config/
!.config/kitty/
!.config/kitty/kitty.conf
