# Ignore everything
*

!.gitignore
!.vimrc
!.bashrc
!.bash_aliases
!.profile
!.tmux.conf

# Tmuxinator configs
!.tmuxinator/stat.yml

# Utility scripts
!_scripts/
!_scripts/tech_headlines.py
!_scripts/zaw/
!_scripts/zaw/*

# Git config
!.gitconfig

# IRB config
!.irbrc

# Vim bundles file
!.bundles.vim

# ZSH
!.zshrc
